*{
    box-sizing: border-box;
    overflow-x: hidden;
}
#footer h6{
    font-size: .8rem !important;
    font-weight: 300 !important;
}
#navbar select{
    box-shadow: none !important;
}
#home .box1
{
    transform-origin: top left;
}
 #home .box2{
    transform-origin: top right;
}
#home .box1{
    position: relative;
    left: 0;
    z-index: 1;
    transform: rotate(5deg);
  }
  
  #home .box2{
    position: relative;
    right: 10px;
    z-index: 2;
    transform: rotate(-5deg);
    margin-top: -97px !important;
  }
  
  #home .box3{
    position: relative;
    right: 5px;
    z-index: 3;
    margin-top: -113px !important;
  }
  #home #h6 h6
  {
    font-size: 0.5rem !important;
  }
  #cloth #clothtext{
    position: relative;
    margin-top: -100px;
    margin-left: 20px;
  }
  #cloth #headingovertext{
    position: relative;
    margin-top: -115px !important;
  }
  #cloth .display-1{
    font-size: 10rem !important;
  }
  #cloth #divtext{
    position: relative;
    margin-top: 10px;
  }
  #cloth #div{
    margin-top: 300px !important;
  }
  #accessories #clothtext{
    position: relative;
    margin-top: -100px;
    margin-left: 20px;
  }
  #appliance #clothtext{
    position: relative;
    margin-top: -100px;
    margin-left: 20px;
  }
  #loja #clothtext{
    position: relative;
    margin-top: -100px;
    margin-left: 20px;
  }
  #loja #clothrack
  {
    margin-top: 50px;
  }
  #loja #clothrack1
  {
    margin-top: 30px;
  }
  #loja #clothracktext
  {
    padding-top: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
  }
  #loja #lojaimage{
    position: relative;
    left: 13%;
  }
  #about .image{
    margin-left: -55px;
    margin-top: -37px;
  }
@media (max-width: 770px){
    #header li{
        font-size: small !important;
    }
    #home .box1{
      width: 100% !important;  
    }
    #home .box2{
        width: 100% !important;
        margin-top: -93px !important;   
    }
      #home .box3{
        width: 100% !important; 
        margin-top: -98px !important; 
    }
    #home #cover h3{
        font-size: large !important;
    }
    #cloth .fs-4{
        font-size: small !important;
    }
    #cloth #enjoytext .display-1{
        font-size: 2.5rem !important;
      }
      #cloth #headingovertext
      {
        display: static !important;
        margin-top: 0px !important;
        width: 60% !important;
      }
      #cloth #enjoytext
      {
        margin-top: -10px !important;
        overflow-y: hidden !important;
      }
      #cloth #enjoytext p{
        font-size: small !important;
      }
      #cloth #enjoytext .col-12{
        padding-top: 30px !important;
        padding-bottom: 70px !important;
        overflow-y: hidden !important;
      }
      #cloth #div{
        margin-top: 59px !important;
      }
      #cloth #div p{
       color: brown !important;
      }
      #cloth #row1
      {
        padding-top: 10px !important;
    overflow: hidden !important;
      }
      #cloth #row2
      {
        padding-bottom: 10px !important;
        overflow: hidden !important;
      }
      #loja #clothrack
  {
    margin-top: 55px !important;
    height: 175px !important;
    width: 500px !important;
  }
  #loja #clothracktext
  {
    padding-top: 5px !important;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: small !important;
  }
  #loja #clothrack1
  {
    margin-top: 50px !important;
    height: 100px !important;
    width: 200px !important;
  }
  #loja #lojaimage{
    left: 5% !important;
  }
  #loja #lojaimage img{
    width: 220px !important;
    height: 220px !important;
    left: 5% !important;
  }
  #loja .img{
    height: 225px !important;
}
#about .image{
    margin-top: -44px !important;
    margin-left: -50px !important;
  }
  
}
@media (max-width: 450px)
{
    #home .box3{
        margin-top: -59px !important; 
        right: 9px !important;
    }
    #home .box2{
        margin-top: -60px !important; 
        right: 10px !important;
    }
    #home #cover h3{
        font-size: xx-small !important;
    }
    #cloth .card{
        width: auto !important;
    }
    #cloth #enjoytext .col-12{
        padding-top: 20px !important;
    }
    #cloth .fs-4{
        font-size: x-small !important;
    }
    #headercontent img{
        width: 100px !important;
        height: 100px !important;
    }
    #headercontent h3{
        font-size: small !important;
    }
    #loja #clothrack1
    {
        margin-top: 52px !important;
        height: 110px !important;
        width: 300px !important;
        margin-left: 50px !important;
        margin-bottom: 40px !important;
    }
    #loja #clothracktext
    {
        padding-top: 20px !important;
        font-family: 'Times New Roman', Times, serif !important;
        font-size: large !important;
    }
    #loja #lojaimage{
        left: 8% !important;
      }
      #loja .img{
        height: 400px !important;
    }
    #detail .heading h1{
        font-size: medium !important;
      }
      #about .image{
        margin-top: -38px !important;}
        #detail .card
        {
          width: 100% !important;
        }
        #accoriesdetail .card{
          width: 100% !important;
        }
        #productappliance .card{
          width: 100% !important;
        }
        #accessories .card{
          width: 100% !important;
        }
}
@media (max-width: 380px)
{
    #footer #button1{
        width: 100% !important;
    }
    #footer #button2{
        width: 100% !important;
    }
    #home .box3{
        margin-top: -54px !important;
        right: 5px !important;
    }
    #home .box2{
        margin-top: -52px !important;
        right: 5px !important;
    }
    #loja #clothrack1{
        margin-top: 32px !important;
        height: 98px !important;
        margin-left: 20px !important;
    }
    #loja #lojaimage{
        left: 4% !important;
      }
      #loja #lojaimage img{
        height: 200px !important;
      }
      #loja .img{
        height: 330px !important;
    }
    #about .image{
        margin-top: -34px !important;}
}
@media (max-width: 320px)
{
    #headercontent img{
        width: 70px !important;
        height: 70px !important;
    }
    #home .box3{
        margin-top: -46px !important;
        right: 5px !important;
    }
    #home .box2{
        margin-top: -46px !important;
        right: 5px !important;
    }
    #headercontent h3{
        font-size: xx-small !important;
    }
    #loja #clothrack1{
      margin-left: 2px !important;
      margin-top: 30px !important;
    }
    #loja #lojaimage{
        left: 3% !important;
      }
      #loja #lojaimage img{
        height: 150px !important;
      }
      #loja .img{
        height: 300px !important;
    }
    #about .image{
        margin-top: -29px !important;}
}